<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      Pet Appointment
    </h2>
    <form class="form-horizontal" (ngSubmit)="onSubmit(appointmentForm.values)" #appointmentForm="ngForm">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="pet.id" name="id"/>
        <input type="text" hidden="true" class="form-control" id="owner" [(ngModel)]="pet.owner" name="owner"/>
      </div>
      <!-- Owner Name -->
      <!-- <div class="form-group">
        <label for="owner" class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner_name" name="owner_name" class="form-control" type="text"
                 value="{{ currentOwner.firstName }} {{ currentOwner.lastName }}" readonly/>
        </div>
      </div>
      <br/> -->
      <!-- Owner Telephone -->
      <!-- <div class="form-group has-feedback" [class.has-success]="telephone.dirty && telephone.valid" [class.has-error]="telephone.dirty && !telephone.valid">
        <label for="telephone" class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="telephone" [(ngModel)]="owner.telephone" name="telephone" required maxlength="10" pattern="^[0-9]{0,10}$" #telephone="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="telephone.valid" [class.glyphicon-remove]="!telephone.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('required')">Phone number is required</span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('maxlength')">Phone number cannot be more than 10 digits long</span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('pattern')" >Phone number only accept digits</span>
        </div>
      </div>
      <br/> -->
      <!-- Pet Name -->
      <div class="form-group ">
        <label for="name" class="col-sm-2 control-label">Pet Name</label>
        <div class="col-sm-10">
          <input id="name" name="name" class="form-control" type="text" [(ngModel)]="pet.name"/>
        </div>
      </div>
      <!-- Pet Type -->
      <div class="control-group">
        <div class="form-group ">
          <label for="type" class="col-sm-2 control-label">Pet Type</label>
          <div class="col-sm-10">
            <select id="type" name="type" class="form-control" [(ngModel)]="pet.type">
              <option *ngFor="let type of petTypes"
                      [ngValue]="type">{{ type.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- Register Date -->
      <div class="form-group ">
        <label class="col-sm-2 control-label">Register Date</label>
        <div class="col-sm-10">
          <input matInput [matDatepicker]="birthDateDatepicker" [ngModel]="pet.birthDate | date:'yyyy-MM-dd'" name="birthDate">
          <mat-datepicker-toggle matSuffix [for]="birthDateDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #birthDateDatepicker></mat-datepicker>
        </div>
      </div>
      <!-- Vet Name -->
      <div class="control-group">
        <div class="form-group ">
          <label for="type" class="col-sm-2 control-label">Vet Name</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>Select the vet</option>
              <option>James, Carter</option>
              <option>Helen, Leary</option>
              <option>Linda, Douglas</option>
              <option>Henry, Stevens</option>
          </select>
            
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <br/>
          <button class="btn btn-default" type="button" (click)="gotoMain()">Back</button>
          <button class="btn btn-default" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="container xd-container">
    <h2>
      Pet Appointment
    </h2>
    <form class="form-horizontal" (ngSubmit)="onSubmit(appointmentForm.value)">   
      <div class="form-group">
        <label for="owner" class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner_name" name="owner_name" class="form-control" type="text"
                 value="{{ currentOwner.firstName }} {{ currentOwner.lastName }}" readonly/>
        </div>
      </div>
      
      <div class="form-group has-feedback" [class.has-success]="telephone.dirty && telephone.valid" [class.has-error]="telephone.dirty && !telephone.valid">
        <label for="telephone" class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="telephone" [(ngModel)]="owner.telephone" name="telephone" required maxlength="10" pattern="^[0-9]{0,10}$" #telephone="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="telephone.valid" [class.glyphicon-remove]="!telephone.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('required')">Phone number is required</span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('maxlength')">Phone number cannot be more than 10 digits long</span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('pattern')" >Phone number only accept digits</span>
        </div>
      </div>

      <div class="form-group ">
        <label for="name" class="col-sm-2 control-label">Pet Name</label>
        <div class="col-sm-10">
          <input id="name" name="name" class="form-control" type="text" [(ngModel)]="pet.name"/>
        </div>
      </div>

      <div class="form-group ">
        <label for="type" class="col-sm-2 control-label">Pet Type</label>
        <div class="col-sm-10">
          <select id="type" name="type" class="form-control" [(ngModel)]="pet.type">
            <option *ngFor="let type of petTypes"
                    [ngValue]="type">{{ type.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group ">
        <label class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          <input matInput [matDatepicker]="appointmentDateDatepicker" [ngModel]="pet.birthDate | date:'yyyy-MM-dd'" name="appointmentDate">
          <mat-datepicker-toggle [for]="birthDateDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #birthDateDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group ">
        <label for="type" class="col-sm-2 control-label">Vet Name</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Select the vet</option>
            <option>James, Carter</option>
            <option>Helen, Leary</option>
            <option>Linda, Douglas</option>
            <option>Henry, Stevens</option>
          </select>
          
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <br/>
          <button class="btn btn-default" type="button" (click)="gotoAppointmentList()"> Back</button>
          <button class="btn btn-default" type="submit">Send</button>
        </div>
      </div>
      
    </form>
   
  </div>
</div> -->

