<div class="container-fluid">
  <div class="container xd-container">
    <h2>User Register</h2>
    <form id="register" class="form-horizontal" (ngSubmit)="onSubmit(registerForm.value)" #registerForm="ngForm">
      <div class="form-group has-feedback">
        <div class="form-group ">
          <label class="col-sm-1 control-label">IdentityId</label>
          <div class="col-sm-6">
            <input id="identityid" name="identityid" class="form-control" type="text" [(ngModel)]="identityid"/>
          </div>
        </div>
        <div class="form-group ">
          <label class="col-sm-1 control-label">Password</label>
          <div class="col-sm-6">
            <input id="password" name="password" class="form-control" type="password" [(ngModel)]="password"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10" >
            <div class="col-sm-1">
           <button class="btn btn-default" type="submit" >Register</button>
            </div>
            <div class="col-sm-1">
           <button class="btn btn-default " type="button" (click)="gotoMain()">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
