<div class="container-fluid">
  <div class="container xd-container">
    <!-- <div class="alert alert-info" >
      <strong>Administrator （Vet）</strong> - U: daisy P: 000000<br/>
      <strong>Normal User</strong> - Please go to sign up page to register your account
    </div> -->
    <h2><i class="glyphicon glyphicon-log-in"></i>&emsp;Enter Username and Password</h2>
    <form id="signin" class="form-horizontal" (ngSubmit)="onSubmit(signinForm.value)" #signinForm="ngForm">
      <div class="form-group has-feedback">
        <div class="form-group ">
          <label class="col-sm-1 control-label">Username</label>
          <div class="col-sm-6">
            <input id="username" name="username" class="form-control" type="text" [(ngModel)]="username"/>
          </div>
        </div>
        <div class="form-group ">
          <label class="col-sm-1 control-label">Password</label>
          <div class="col-sm-6">
            <input id="password" name="password" class="form-control" type="password" [(ngModel)]="password"/>
          </div>
        </div>
        <div class="form-group ">
          <label for="password" class="col-sm-2 control-label">Vet or Owner</label>
          <div class="col-sm-10">
            <input type="radio" name="auth" value="1" [(ngModel)]="vet">Vet
            <input type="radio" name="auth" value="2" [(ngModel)]="owner" checked>Owner
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-9" >
            <div class="col-sm-1">
              <button class="btn btn-default" type="submit">Login</button>              
            </div>
            <div class="col-sm-1">
              <button class="btn btn-default " type="button" (click)="gotoRegister()">Go To Sign Up Page</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
