<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><span></span></a>
  </div>

    <ul class="nav navbar-nav">
      <li>
        <a routerLink="welcome" title="home page">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          <span>Home</span>
        </a>
      </li>
     
      <li id="Owners" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Owners<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/owners"><span class="glyphicon glyphicon-search"
                                            aria-hidden="true"></span><span> All</span></a></li>
          <li><a routerLink="/owners/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span> Add New</span></a>
          </li>
        </ul>
      </li>
      <!-- *ngIf="!isUserLoggedIn" *ngIf="isUserLoggedIn";else="isLogOut" *ngIf="isUserLoggedIn$ | async"-->
      <li class="dropdown" *ngIf="isUserLoggedIn">
          <a data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Veterinarians<span class="caret"></span>
          </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/vets"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span> All</span></a>
          </li>
          <li><a routerLink="/vets/add"><span class="glyphicon glyphicon-plus"
                                              aria-hidden="true"></span><span> Add New</span></a></li>
        </ul>
      </li>
      <li id="Pet">
        <a routerLink="/pettypes" routerLinkActive="active" title="pettypes">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Pet Types</span>
        </a>
      </li>
      <li id="Specialties">
        <a routerLink="/specialties" routerLinkActive="active" title="specialties">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Specialties</span>
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Appointment<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/appointment"><span class="glyphicon glyphicon-search"
                                            aria-hidden="true"></span><span> All</span></a></li>
          <li><a routerLink="/appointment/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span> Make New</span></a>
          </li>
        </ul>
      </li>
      <li class="">
        <a routerLink="" (click)="logout()" title="logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
    
  